.grid {
  position: relative;
  display: grid;
  margin: -8px;
  grid-template-columns: calc(100% - 450px) 450px; // Charts responsiveness won't work with fr units
  grid-template-areas:
          'cover sidebar'
          'cover sidebar'
          'cover sidebar';
  height: 100vh;
  overflow-x: hidden; // Prevent overflow scroll from hidden sidenav

  &--noscroll {
    overflow-y: hidden;
  }

  @media (max-width: 650px) {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas:
            'sidebar'
            'sidebar'
            'sidebar';
    height: 100vh;
  }
}

.sidebar {
  box-shadow: -5px 0 5px -5px #333;
  color: #555555;
  grid-area: sidebar;
  z-index: 5;
  min-width: 450px;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;

  width: 450px;
  height:100%;

  background-color: rgb(247, 247, 247);


  @media (max-width: 650px) {
    justify-content: left;
    display: block;
  }
  &__container {
    margin-top: -50px;
    display: grid;
    //border: 2px dashed rgba(114, 186, 94, 0.35);
    height: auto;
    width: 376px;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    //background: rgba(114, 186, 94, 0.05);

    @media (max-width: 650px) {
      width: 100%;
      height: auto;
      margin-top: 0;
    }

    &__brand {
      margin-bottom: 40px;
      text-align: center;
      img {
        max-width: 200px;
        width: 200px;
        position: relative;
      }
    }

    .form-group {
      margin-bottom: 1rem;
      margin-right: 0;
      margin-left: 0;
    }


    .other-actions {
      margin-bottom: 10px;
      margin-top: 20px;

      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%;
      grid-template-areas: 'left rigth';

      &_left {
        grid-area: left;

      }
      &_rigth {
        grid-area: rigth;

      }
    }

    [type="checkbox"],
    [type="radio"] {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0px;
    }
    .c-input {
      color: #555555;
    }

    .c-input .c-indicator {
      top: 2px;
    }

    .c-input > input:checked ~ .c-indicator {
      background-color: #333333;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .c-input > input:focus ~ .c-indicator {
      -webkit-box-shadow: white 0px 0px 0px 0.075rem, #262626 0px 0px 0px 0.2rem;
      box-shadow: white 0px 0px 0px 0.075rem, #262626 0px 0px 0px 0.2rem;
    }

    .c-input > input:active ~ .c-indicator {
      background-color: #262626;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .page-copyright {
      margin-top: 0px;
      padding-top: 60px;
      font-size: 14px;
      text-align: center;

      p {
        margin-bottom: 10px;
      }

      a {
        color: #ea2400;
        text-decoration: none;
        background-color: transparent;
      }
    }

    .form-control {
      display: block;
      width: 100%;
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
      line-height: 1.25;
      color: #464a4c;
      background-color: white;
      background-image: none;
      height: 45px;
      background-clip: padding-box;
      border: 2px solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

      &-danger {
        padding-right: 2.25rem;
        background-repeat: no-repeat;
        background-position: right 0.5625rem center;
        background-size: 1.125rem 1.125rem;
      }
    }

    .btn {
      margin-top: 10px;
      display: inline-block;
      font-weight: normal;
      line-height: 1.25;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

      &:focus, &:hover {
        text-decoration: none;
      }

      &:focus, &.focus {
        outline: 0;
        -webkit-box-shadow: rgba(0, 125, 204, 0.25) 0 0 0 2px;
        box-shadow: rgba(0, 125, 204, 0.25) 0 0 0 2px;
      }
    }

    .btn-full {
      width: 100%;
    }

    .btn-theme {
      color: white;
      background-color: #db2500;
      border-color: #d52b34;
      -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 0px inset, rgba(0, 0, 0, 0.075) 0px 1px 1px;
      box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 0px inset, rgba(0, 0, 0, 0.075) 0px 1px 1px;



      &:hover {
        color: white;
        background-color: #f35a3d;
        border-color: #d52b34;
      }

      &:focus, &.focus {
        -webkit-box-shadow: rgba(255, 222, 0, 0.5) 0px 0px 0px 2px;
        box-shadow: rgba(255, 222, 0, 0.5) 0px 0px 0px 2px;
      }

      &.disabled, &:disabled {
        background-color: #ffde00;
        border-color: #ffde00;
      }

      &:active, &.active {
        color: #333333;
        background-color: #ccb200;
        background-image: none;
        border-color: #c2a900;
        -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px inset;
        box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px inset;
      }
    }

    .col-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }

    .text-right {
      text-align: right !important;
      margin-right: 10px;
    }

  }
}



.cover {
  grid-area: cover;

  img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}