.bacab-table {
  &__header-container {
    display: grid;
    grid-template-rows: repeat(2, 100%);
    grid-template-columns: 100%;
    grid-auto-flow: row;


    .cell {
      display: grid;
    }

    &__item {
      align-self: center;
      justify-self: center;
    }
  }
}
