html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #292b2c;
  background-color: white;
}

.grid {
  position: relative;
  display: grid;
  margin: -8px;
  grid-template-columns: calc(100% - 450px) 450px;
  grid-template-areas: "cover sidebar" "cover sidebar" "cover sidebar";
  height: 100vh;
  overflow-x: hidden;
}

.grid--noscroll {
  overflow-y: hidden;
}

@media (max-width: 650px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "sidebar" "sidebar" "sidebar";
    height: 100vh;
  }
}

.sidebar {
  box-shadow: -5px 0 5px -5px #333;
  color: #555555;
  grid-area: sidebar;
  z-index: 5;
  min-width: 450px;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  /* TWEENER - IE 10 */
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 100%;
  background-color: #f7f7f7;
}

@media (max-width: 650px) {
  .sidebar {
    justify-content: left;
    display: block;
  }
}

.sidebar__container {
  margin-top: -50px;
  display: grid;
  height: auto;
  width: 376px;
  grid-template-columns: 100%;
  grid-row-gap: 20px;
  grid-template-rows: auto;
}

@media (max-width: 650px) {
  .sidebar__container {
    width: 100%;
    height: auto;
    margin-top: 0;
  }
}

.sidebar__container__brand {
  margin-bottom: 40px;
  text-align: center;
}

.sidebar__container__brand img {
  max-width: 200px;
  width: 200px;
  position: relative;
}

.sidebar__container .form-group {
  margin-bottom: 1rem;
  margin-right: 0;
  margin-left: 0;
}

.sidebar__container .other-actions {
  margin-bottom: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "left rigth";
}

.sidebar__container .other-actions_left {
  grid-area: left;
}

.sidebar__container .other-actions_rigth {
  grid-area: rigth;
}

.sidebar__container [type=checkbox],
.sidebar__container [type=radio] {
  box-sizing: border-box;
  padding: 0px;
}

.sidebar__container .c-input {
  color: #555555;
}

.sidebar__container .c-input .c-indicator {
  top: 2px;
}

.sidebar__container .c-input > input:checked ~ .c-indicator {
  background-color: #333333;
  box-shadow: none;
}

.sidebar__container .c-input > input:focus ~ .c-indicator {
  box-shadow: white 0px 0px 0px 0.075rem, #262626 0px 0px 0px 0.2rem;
}

.sidebar__container .c-input > input:active ~ .c-indicator {
  background-color: #262626;
  box-shadow: none;
}

.sidebar__container .page-copyright {
  margin-top: 0px;
  padding-top: 60px;
  font-size: 14px;
  text-align: center;
}

.sidebar__container .page-copyright p {
  margin-bottom: 10px;
}

.sidebar__container .page-copyright a {
  color: #ea2400;
  text-decoration: none;
  background-color: transparent;
}

.sidebar__container .form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: white;
  background-image: none;
  height: 45px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sidebar__container .form-control-danger {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: right 0.5625rem center;
  background-size: 1.125rem 1.125rem;
}

.sidebar__container .btn {
  margin-top: 10px;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.sidebar__container .btn:focus,
.sidebar__container .btn:hover {
  text-decoration: none;
}

.sidebar__container .btn:focus,
.sidebar__container .btn.focus {
  outline: 0;
  box-shadow: rgba(0, 125, 204, 0.25) 0 0 0 2px;
}

.sidebar__container .btn-full {
  width: 100%;
}

.sidebar__container .btn-theme {
  color: white;
  background-color: #db2500;
  border-color: #d52b34;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 0px inset, rgba(0, 0, 0, 0.075) 0px 1px 1px;
}

.sidebar__container .btn-theme:hover {
  color: white;
  background-color: #f35a3d;
  border-color: #d52b34;
}

.sidebar__container .btn-theme:focus,
.sidebar__container .btn-theme.focus {
  box-shadow: rgba(255, 222, 0, 0.5) 0px 0px 0px 2px;
}

.sidebar__container .btn-theme.disabled,
.sidebar__container .btn-theme:disabled {
  background-color: #ffde00;
  border-color: #ffde00;
}

.sidebar__container .btn-theme:active,
.sidebar__container .btn-theme.active {
  color: #333333;
  background-color: #ccb200;
  background-image: none;
  border-color: #c2a900;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px inset;
}

.sidebar__container .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.sidebar__container .text-right {
  text-align: right !important;
  margin-right: 10px;
}

.cover {
  grid-area: cover;
}

.cover img {
  display: block;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

